.dbutton{
    font-size: 20px;
    font-weight: 500;
    color: #333 !important;
    border: 2px solid #333 !important;
    background-color: whitesmoke !important;
}
body{
    background-color: #f1f1f1;
}
.darkmm{
    background-color:#000021 !important;
    color: white !important;
}
.textsh{
    text-shadow: 0px 0px 2px white !important;
}
.container-img{
    margin-top: 70px;
    width: 100%;
}
.imgsec{
    margin: auto;
    height: 430px;
    width: 310px;
    background: url(King_David\,_the_King_of_Israel.jpg);
    background-size: cover;

}
ul,li{
    font-size: 20px;
    font-weight: 600;
}
h2{
    text-shadow: 0px 0px 2px black;
    font-weight: 700;
    font-size: 30px;
    padding: 0px 20px;
    text-decoration:underline;
}
p{
    font-size: 25px;
    font-weight: 600;
    padding: 0px 20px;
    transition: text-shadow 0.5s ease-in-out;
}
.content{
    position: relative;
    margin-top: 40px;
    text-align: right;
}
.hebook{
    margin-top: 80px;
    width: 100%;
    text-align: center;
}
.cardto{
    background-color: rgba(6, 1, 46, 0.5)  !important;
}
img{
    opacity: 0.7;
}
.booksec{
    padding: 0px 0px 0px 24px;
    margin-top: 20px;
}
.bookcont{
    display: inline-block;
    margin: 0px 30px 20px 0px;
    width: 300px;
    height: 450px;
    border: 2px solid #333;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 4px #333;
}
@media (min-width:0px) and (max-width:467px){
    .booksec{
        padding: 0px 65px;
    }
    .bookcont{
        width: 250px;
        height: 350px;
    }
}
@media (min-width:468px) and (max-width:700px){
    .booksec{
        padding: 0px 100px;
    }
    .bookcont{
        width: 300px;
        height: 450px;
    }
}



